CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
build
/output*.png
/*output*.jpg
.qglviewer.xml
.vscode
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
PolygonCenterLine_clamping_doc.pdf
